@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    font-size: 2vh;
    scroll-behavior: smooth;
}
body{
    background:#000 url("bg_img.jpg");
    height: auto;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position:center;
    background-attachment:fixed;
    background-blend-mode:difference;
    background-size: cover;
    
}
video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
 /* background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat; */
  background-size: cover;
  transition: 1s opacity;
}
.container{
    position: absolute;
    top: 80px;
    left: 100px;
    right: 100px;
    bottom: 80px;
    background: url("bg_img.jpg");
    height: auto;
    background-attachment:fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display:flex ;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 20px 0 20px rgba(180, 177, 177, 0.5),0 0 0 100px rgba(0, 0, 0,0.1);
}
.container h2{
    text-align: center;
    font-size: 10em;
    line-height: 0.7em;
    color: #333;
    margin-top: -80px;
}
.container h2 span{
    display: block;
    font-weight: 300;
    letter-spacing: 6px;
    font-size: 0.2em;
    
}
.countdown{
    display: flex;
    margin-top: 50px;
    width: min-content;
}
 .countdown div{
    position: relative;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background: #333;
    color: #fff;
    margin: 0 15px;
    font-size: 3em;
    font-weight: 500;
}
.countdown div:before{
    content: ' ';
    position: absolute;
    bottom:-30px;
    left: 0;
    width: 100%;
    height: 35px;
    background: #ff0;
    color: #333;
    font-size: 0.35em;
    line-height: 35px;
    font-weight: 300;
} 
.countdown #day:before{
    content: 'Days';
}
.countdown #hour:before{
    content: 'Hours';
}
.countdown #minute:before{
    content: 'Minutes';
}
.countdown #second:before{
    content: 'Seconds';
}
    /* small mobile 350px */
@media only screen and (max-width: 350px) {
    body{
       background-size: cover;    
    }
    .countdown div{
        width: 70px;
        margin-left: -20px;
    }
    .container{
        box-shadow: none;
        width: min-content;
        margin-left: -50px;
    } 
    #wishmsg{
        margin-top: 80px; 
    } 
 } 
 /* MEDIUM mobile */
 @media only screen and (min-width:375px) {
     body{
       background-size: cover;    
    }
    .countdown div{
        width: 70px;
        margin-left: -10px;
    }
    .container{
        box-shadow: none;
        width: min-content;
        margin-left: -50px;
    } 
    #wishmsg{
        margin-top: 80px; 
    } 
}
@media only screen and (min-width: 425px) and (max-width: 600px) {
    body{
       background-size: cover;    
    }
    .countdown div{
        width: 70px;
        margin-left: 0px;
    }
    .container{
        box-shadow: 0 20px 0 20px rgba(180, 177, 177, 0.5),0 0 0 100px rgba(0, 0, 0,0.1);
        width: min-content;
        margin-left: -50px;
    } 
    #wishmsg{
        margin-top: 80px; 
    }  
}
 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width:1100px) {
    body{
       background-size: cover;    
    }
    .container{
        box-shadow: 0 20px 0 20px rgba(180, 177, 177, 0.5),0 0 0 100px rgba(0, 0, 0,0.1);
        width: 80%;
        left: 15vw;
    } 
    .countdown div{
        width: 70px;
        margin-left: -10px;
    }
    
    #wishmsg{
        margin-top: 80px; 
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body{
        background-size: cover;
    }
    .container{
        box-shadow: 0 20px 0 20px rgba(180, 177, 177, 0.5),0 0 0 100px rgba(0, 0, 0,0.1);
        width: 80%;
        left: 15vw;
    } 
    .countdown div{
        width: 70px;
        margin-left: -10px;
    }
    
    #wishmsg{
        margin-top: 80px; 
    }
    
}
@media only screen and (min-width:2000px) {
    body{
       background-size: cover;    
    }
    .container{
        box-shadow: 0 20px 0 20px rgba(180, 177, 177, 0.5),0 0 0 100px rgba(0, 0, 0,0.1);
        box-sizing: border-box ;
        margin-left: -100px;
    }
    .countdown{
        height: 16vh;
        margin-top: 70px;
    }
    .countdown div {
        width: 6vw;
        height: 11vh;
        left: -10px;
        margin:0 8px 0 8px;
    }
    #wishmsg{
        margin-top: 80px; 
    }
    .countdown div:before{
        bottom:-30px;
        left: 0;
        width: 100%;
        height: 36px;
        font-size: 0.35em;
        line-height: 35px;
        font-weight: 300;
    }
}
   
